body {
	font-family: verdana, sans-serif;
	background: #DDD;
}

div.wrapper {
	width: 95%;
	margin: auto;
	margin-top: 30px;
	background: white;
}

div.header {
	
}

div.header h1 {
	color: #04266D;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20%;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
	font-size: 3.5em;
	text-shadow: 0 1px 2px #A668D5;
	font-family: 'Montserrat', sans-serif;
}

div.header h1 a {
	text-decoration: none;
	color: #222;
}

div.categories {
	margin: 0;
	display:block;
	/**background: #585858;*/
	
}

div.categories ul {
	font-weight: bold;
	margin-left: 20%;
	padding-top: 10px;
	padding-left:0;
	padding-bottom: 10px;
	border-bottom: solid 3px #BABABA;
	width: 70%;
}

div.categories ul li a {
	text-decoration: none;
	color: #BABABA;
	text-shadow: 0 -1px 0 white;
	
}

select.categories {
	display:block;
	font-size: 1.3em;
}

h2.category, h2.tag {
	color: #04266D;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
	font-size: 2.5em;
	text-shadow: 0 1px 2px #A668D5;
	font-family: 'Montserrat', sans-serif;
}



div.header ul li {
	text-decoration: none;
	text-transform: uppercase;
	display: inline;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 2px 0 #41046f;
	margin-right: 40px;
	font-family: 'Montserrat', sans-serif;
}

article {
	margin-bottom: 20px;
	position: relative;
}

div.content {
	width: 70%;
	margin-left: 20%;
}

h2.title {
	display: inline; 
	padding-left: 0px;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}

h2.title a {
	color: #222;
	text-decoration:none;
}

ul.tags {
	position: absolute;
	left: -180px;
	top: -10px;
}

ul.tags li {
	display: block;
	text-align: right;
	font-size: 0.8em;
	width: 120px;
	margin-bottom: 6px;
	
}

ul.tags li a {
	text-decoration: none;
	color: #1D0772;
	background: #856FD7;
	padding: 1px 5px;
	border-radius: 3px;
}

div.text {
	color: #232323;
	margin-top: 15px;
	margin-bottom: 20px;
}

ul.newPost {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0px;
}

ul.newPost li {
	background: #8377EE;
	display: inline;
	font-family: 'Montserrat', sans-serif;
	box-shadow:  0 1px 2px #A668D5;
	padding: 10px 10px 6px 10px;
	
}

ul.newPost li a {
	color: #0A034C;
	text-decoration:none;
	padding: 0px;
	font-size: 1.6em;
	font-weight: bold;
}

ul.admin, ul.button {
	margin-top: 5px;
	margin-bottom: 5px;
	
	padding-left: 0px;
}

ul.admin li, ul.button li {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	box-shadow:  0 1px 2px #A668D5;
	padding: 5px;
}
 
ul.admin li a, ul.button li a {
	color: #8377EE;
	text-decoration:none;
	padding: 0px;
	font-size: 1.3em;
	font-weight: bold;
}



div.text pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	text-wrap: suppress;
}

div.text pre code {
	display: block;
	border: dashed 1px #0A034C;
	padding: 5px;
	background: #A9A2E3;
	color: #2D1EAD;
	tab-size: 3;
}

div.text pre code br {
	display: none;
}

div.datetime {
	color: #6749D7;
	font-style: italic;
}

sidebar {

}

input[type=text], textarea, label {
	display: block;
	width: 500px;
}


